.code-editor-container {
  padding: 30px 60px;
  margin: 0px 100px;
  background-color: rgba(238, 241, 241, 0.829);
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.code-editor-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.code-editor-language-wrapper {
  width: 100px;
}

.code-editor-btn{
  display: flex;
}

.code-editor-runcode-btn{
  width: 150px;
}

.code-editor-submit-btn{
  width: 0px;
}