.submission-container {
  overflow-y: scroll;
  height: calc(100vh - 250px);
}

.submission-container::-webkit-scrollbar {
  width: 10px;
}
.submission-container::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
.submission-container::-webkit-scrollbar-thumb {
  background-color: rgb(27, 27, 27);
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}
