.navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(15, 5, 54);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.navbarWrapper{
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.navLeft{
    display: flex;
    align-items: flex-end;
}

.navbarList{
    display: flex;
    margin-left: 30px;
}

.navbarItem{
    font-weight: bold;
    font-size: 20px;
    color: rgb(195, 195, 195);
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    text-decoration: none;
}

.navbarItem.active, .navbarItem:hover{
    color:rgb(245, 245, 245);
}

.navRight{
    display: flex;
    align-items: center;
}

.navbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.iconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.navbarAvatar{
    width: 40px;
    height: 40px;
    margin-right: 30px;
    border-radius: 50%;
    cursor: pointer;
}